<mat-card *ngIf="user">
    <div mat-subheader>Your Profile Details</div>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="container text-center">
                    <img class="profile-image mt10" src="https://t4.ftcdn.net/jpg/00/64/67/27/360_F_64672736_U5kpdGs9keUll8CRQ3p3YaEv2M6qkVY5.jpg"
                     alt="image not available">
                     <h1 class="mt20">{{user.firstName}} {{user.lastName}}</h1>
                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>USERNAME</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>USERID</td>
                                <td>EP{{user.id}}</td>
                            </tr>
                            <tr *ngIf="user.email">
                                <td>EMAIL</td>
                                <td>{{user.email}}</td>
                            </tr>
                            <tr *ngIf="user.phone">
                                <td>PHONE</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>ROLE</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>STATUS</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>
    <mat-card-actions class="text-center">
        <button mat-raised-button color="primary">UPDATE</button>
        <button mat-raised-button color="accent">SHARE</button>
      </mat-card-actions>    
</mat-card>