<div class="bootstrap-wrapper">
    <div class="mt10 mb10"><h3>Questions of {{qTitle}}</h3></div>
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button color="primary"
                [routerLink]="'/admin/add-question/'+qId+'/'+qTitle"><mat-icon>add_box</mat-icon>Add Question</button>
            </div>
            <mat-card *ngFor="let q of questions;let i=index" class="mt10"> 
                <mat-card-content>
                    <p>
                      <b>Q {{i+1}}.</b><span class="ml20" [innerHTML]="q.content"></span>
                    </p>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>(a)</b> {{q.option1}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>(c)</b> {{q.option3}}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <p><b>(b)</b> {{q.option2}}</p>
                            </div>
                            <div class="col-md-6">
                                <p><b>(d)</b> {{q.option4}}</p>
                            </div>
                        </div>
                        <mat-divider></mat-divider>
                        <p class="mt20">Correct Answer : <b>{{q.answer}}</b></p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="warn" (click)="deleteQuestion(q.quesId)">Delete</button>
                    <button mat-button color="primary" [routerLink]="'/admin/update-question/'+q.quesId">Update</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
